@import "reveal.js/dist/reset.css";
@import "reveal.js/dist/reveal.css";
@import "reveal.js/dist/theme/dracula.css";
@import "reveal.js/plugin/highlight/monokai.css";

.space-around {
    display: flex;
    justify-content: space-around;
}

.vertical-center {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.grayscale {
    filter: grayscale(1);
}

.line-through {
    text-decoration: line-through;
}
/* Override theme's max-height */
.reveal section pre code {
    max-height: 100%;
    min-width: 20em;
    position: relative;
    overflow-y: clip;

    .icons {
        position: absolute;
        display: flex;
        flex-flow: column;
        line-height: 0;
        top: 0;
        right: 8px;

        img {
            width: 15px;
            margin: 8px;
        }

        a {
            cursor: pointer;
        }
    }
}

.reveal section pre code.fix {
    width: 40em;
}

.reveal section pre code.no-min-width {
    max-height: 100%;
    min-width: 0;
}

.reveal section pre code.error {
    background: #d300381a;
    color: darkgray;
}

.reveal section pre {
    width: fit-content;
}

.reveal section .fragment.visible .deferred {
    transition-delay: 1s;
}

.reveal section [data-code-example] {
    position: relative;
    width: fit-content;
    margin: auto;
    .icons {
        position: absolute;
        display: flex;
        flex-flow: column;
        line-height: 0;
        top: 0;
        right: 8px;

        img {
            width: 15px;
            margin: 8px;
        }
    }
}

.reveal section [data-code-example].small {
    .frame {
        height: 60px;
        width: 125px;
    }

    .icons {
        img {
            margin-bottom: 0;
        }
    }
}

.reveal section [data-code-example].big {
    .frame {
        height: 400px;
        width: 600px;
    }
}

.reveal section [data-code-example] div.frame {
    background-color: linen;
    min-height: 60px;
    min-width: 250px;
    a {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 40%;
    }
}

.reveal section [data-external-example] {
    display: none;
}

.reveal-print .reveal section {
    .no-print {
        display: none;
    }
}

/* avoid fake bold on some browsers */
.reveal strong {
    font-weight: inherit;
}

#eval-console {
    position: absolute;
    background: var(--r-selection-background-color);
    width: 400px;
    height: 300px;
    bottom: 50px;
    left: 50px;
    z-index: 1000;
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    font-size: 0.55em;
    font-family: var(--r-code-font), monospace;
    line-height: 1.2em;
    word-wrap: break-word;

    color: var(--r-inline-code-color)
}

.reveal-viewport.no-h4 h4 {
    display: none;
}

/* Use .has-error on code to replace highlights by a red underline */
.reveal .hljs.has-highlights.has-error tr.highlight-line {
    text-decoration: underline dotted red;
}

.reveal .hljs.has-highlights.has-error tr:not(.highlight-line) {
    opacity: inherit;
}

/* Use .no-numbering on code to hide number, while still highlighting or underlining */
.reveal .hljs.has-highlights.no-numbering tr td.hljs-ln-line.hljs-ln-numbers {
    display: none;
}
